*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{
    margin: 0 auto;
    display: flex;

    align-items: center;
    flex-direction: column;
    padding: 12px;
    color: black;


}



/* Logo  */

.containers{
    display: flex;
    /* justify-content: center;
    /* align-items: center; */ 
    padding: 12px;
}

.logo__container{
    height: 20px;
}





/* Menu Items  */


.menu__item--container{
    padding: 12px;
}


.menu__item{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px;

    
}

.menu__item:hover{
    cursor: pointer;
    background-color: #f3f4f6;
    border-radius: 9px;
    
}

.menu__item--after{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    
}

.menu__item--after:hover{
    cursor: pointer;
    background-color: #f3f4f6;
    border-radius: 9px;
    
}




.menu__item--svg-container{

}

.menu__item--svg{
    padding: 5px;
}


.menu__item--name-container{
margin: 0 auto;
}

.menu__item--name{
    padding: 0 10px;
    font-size: 18px;
}


.menu__item--name--remove{
    display: none;
}

.resizeButton{
    transform: rotate(180deg);
}
.resizeButton--after{
    transform: rotate(0deg);
}

.resizeButton--container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* z-index: 0; */
}


.menu{
    max-width: 300px;
}
.collapsed__menu{
    max-width: 100px;
}