.canvas-backdrop {
    position: relative;
    width: 100%;
    height: calc(100vh - 72px);
}

.diamonds {
    position: absolute;

    width: 75%;
    height: 75%;
    opacity: 0.1;
}

.canvas-container {
    width: 100%;
    height: calc(100vh - 72px);
    padding: 0;
    --border-color: #9f9f9f;
}

.grid-row {
    display: flex;
    width: 100%;
    height: 50%;
}

.grid-inner {
    width: 66.66668%;
    height: 50%;
}

.grid-inner-row {
    display: flex;
    width: 100%;
    height: 100%;
}

.grid-inner-row-2 {
    display: flex;
    width: 100%;
    height: 50%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 16.66666%;
    height: 100%;
    border-right: solid var(--border-color) 0.5px;
    border-bottom: solid var(--border-color) 0.5px;
    padding-left: 8px;
    padding-top: 6px;
    cursor: pointer;
    z-index: 1;
}

.grid-item-2 {
    width: 12.5%;
    height: 100%;
    /* background-color: #F7F9FB; */
    background-color: (247, 249, 251, 1);
    border-right: solid var(--border-color) 0.5px;
    border-bottom: solid var(--border-color) 0.5px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.grid-item-mvi {
    width: 25%;
    height: 100%;
    /* background-color: #F7F9FB; */
    background-color: (247, 249, 251, 1);
    border-right: solid var(--border-color) 0.5px;
    border-bottom: solid var(--border-color) 0.5px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.grid-item-wide {
    width: 50%;
    height: 100%;
    /* background-color: #F7F9FB; */
    background-color: (247, 249, 251, 1);
    border-right: solid var(--border-color) 0.5px;
    border-bottom: solid var(--border-color) 0.5px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    overflow: hidden;
    z-index: 1;
}

.grid-item-timings {
    width: 100%;
    height: 50%;
    /* background-color: #F7F9FB; */
    background-color: (247, 249, 251, 1);
    border-right: solid var(--border-color) 0.5px;
    border-bottom: solid var(--border-color) 0.5px;
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.item-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 21.35px;
}

.item-title-2 {
    color: #A4A3A3;
    font-size: 15px;
    font-weight: 600;
    line-height: 21.35px;
    font-style: italic;
}

.scroll-box {
    width: 100%;
    height: 100%;
    margin-top: 9px;
    overflow-y: auto;
}

.scroll-box__wrapper {
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    overflow-wrap: break-word;
    hyphens: manual;
    font-size: clamp(10px, 1.4vw, 14.945px);
    font-weight: 400;
}

.scroll-box__container {
    height: 100%;
    flex-direction: column;
    display: inline-flex;
}

.textbox {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    color: #494949;
    line-height: 21.35px;

    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.textbox:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.back-button {
    margin-left: auto;
    margin-right: 0;
}

.back-button:hover {
    cursor: pointer;
}
