* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {
    margin: 0 auto;
    display: flex;

    align-items: center;
    flex-direction: column;

    color: black;
}



/* Logo  */

.logo__container.opened {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.logo__container.closed {
    
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 25px;
    margin-bottom: 32px;
}


.menu.active {
    
    width: 212px;
    z-index: 1;
}

.menu.collapsed {
    width: 81px;
    z-index: 1;
    
}

.menu__item--container.opened {
    padding-left: 12px;
    width: 100%;
    padding: 5px 0;

}

.menu__item--container.closed {
    padding-left: 12px;
    padding: 5px 0;
    width: 100%;
}

.menu__item.opened {
    width: 80%;

    display: flex;

    align-items: center;
    height: 28px;
    padding-left: 12px;
    margin-bottom: 4px;
    margin: 0 auto;
    
}

.menu__item.closed {
    margin: 0 auto;
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;

    justify-content: center;

}

.menu__item:hover {
    cursor: pointer;
    background-color: rgba(28, 28, 28, 0.1);
    border-radius: 8px;
}


.menu__item.closed:hover {
    cursor: pointer;
    background-color: rgba(28, 28, 28, 0.1); 
}

.menu__item--svg-container {
    padding: 10px;

}

.menu__item--svg {

}

.menu__item--name.opened {
    font-size: 14px;
    font-weight: 400;
}

.menu__item--name.closed {
    display: none;
}


/* CSS */
.rotateButton {
    transition: transform 300ms ease;
    transform: rotate(-180deg); 
  }
  
  .rotateButton.rotated {
    transform: rotate(0deg); 
  }
  
  