.navbar-container {
    background-color: white;
    flex: 1;
    height: 72px;
    display: flex;
}

.searchbar {
    width: 725px;
    height: 34px;
    margin-left: 38px;
    margin-top: 19px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 16px;
    background-color: rgb(28, 28, 28, 0.05);

    display: flex;
    align-items: center;
}

.search-input {
    width: 93%;
    height: 100%;
    border: none;
    background-color: rgba(28, 28, 28, 0);
    color: rgba(28, 28, 28, 0.50);
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 20px;
    min-width: 0;
}

.search-input::placeholder {
    color: rgba(28, 28, 28, 0.20);
}

.search-input:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.execute-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.execute-button {
    height: 100%;
    width: 247px;
    margin-left: auto;
    margin-right: 0;
    color: white;
    background-color: #006CFD;
}

.execute-inner {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
    width: 65%;

}

.execute-icon {
    margin-right: 5px;
}

.icon {
    width: 16px;
    height: 16px;
}